## Лабораторная работа 3. Массивы, списки, факторы, таблицы данных.

**Задание 1.**

Создайте вектор state с 5 элементами: "prof","prof","docent","docent","assist".

Выделите различные категории (факторы) в векторе state.

Отобразите отдельно эти категории (уровни).

Задайте вектор доходов 60,59,40,42,23.

Найдите средние доходы для каждой категории (с помощью функции tapply).

Определите еще одну категорию "st.prep" в дополнение к уже исследованным.

Вывести таблицу статистики для всех категорий.

In [ ]:
state <- (c("prof", "prof", "docent", "docent", "assist"))

categories <- factor(state)
levels(categories)
cat("\n")

income <- c(60, 59, 40, 42, 23)
cat("\n")

tapply(income, state, mean)
cat("\n")

state <- c(state, "st.prep")
categories <- factor(state)
summary(categories)

[1] "assist" "docent" "prof"

assist docent   prof
  23.0   41.0   59.5

 assist  docent    prof st.prep
      1       2       2       1



---

**Задание 2.**

Создайте список **x** с тремя компонентами разных типов:

$(1,2,...,10)$;  $(\exp(-3), \exp(-2), \exp(-1),..., \exp(3))$;  (TRUE, FALSE, FALSE, TRUE).

Задайте имена компонентам списка (например: a, beta, logic).

Выведите на экран содержимое третьей компоненты списка двумя способами - по имени и по индексу. В чем различие между записями: `x[1]` и `x[[1]]`?

Найдите среднее арифметическое значений каждой компоненты списка x.

Добавьте к списку **x** четвертую компоненту - последовательность первых 10 букв латинского алфавита. Проименуйте четвертую компоненту как letters.

Создайте новый список **y** на основании старого **x** двумя способами - используя индексы и с помощью операции конкатенации.

Преобразуйте список **y** в вектор **z**.
К какому классу данных (структур данных) относится **z**? Объекты какого типа содержит **z**? Объекты какого типа содержал бы **z**, если бы **y** был образован из компонент 1 и 3 списка **x**?

Преобразуйте список **y** в таблицу данных.

In [ ]:
# Создание списка x
x <- list(1:10, exp(-3:3), c(TRUE, FALSE, FALSE, TRUE))
# Задание имен компонентам списка
names(x) <- c("a", "beta", "logic")
x
cat("\n")

# Вывод содержимого третьей компоненты списка по имени и индексу
x$logic
x[[3]]
cat("\n")

# Различие между записями x[1] и x[[1]] заключается в том, что x[1] возвращает список, содержащий только первую компоненту, а x[[1]] возвращает саму первую компоненту.

# Нахождение среднего арифметического значений каждой компоненты списка x
mean_x <- sapply(x, mean)
mean_x
cat("\n")

# Добавление четвертой компоненты к списку x
x$letters <- letters[1:10]

# Создание нового списка y на основе списка x
y <- list(x[[1]], x[[2]], x[[3]], x[[4]])  # Используя индексы
y <- c(x)  # С помощью операции конкатенации
y
cat("\n")

# Преобразование списка y в вектор z
z <- unlist(y)
z
cat("\n")

# Класс данных (структура данных), к которому относится z
class(z)
cat("\n")

# Объекты, содержащиеся в z
typeof(z)
cat("\n")

# Если бы y был образован только из компонент 1 и 3 списка x, то z содержал бы только числовые значения компоненты 1 и значения логического типа компоненты 3.

# Преобразование списка y в таблицу данных
suppressWarnings(data.table::as.data.table(y))

$a
 [1]  1  2  3  4  5  6  7  8  9 10

$beta
[1]  0.04978707  0.13533528  0.36787944  1.00000000  2.71828183  7.38905610
[7] 20.08553692

$logic
[1]  TRUE FALSE FALSE  TRUE

[1]  TRUE FALSE FALSE  TRUE

[1]  TRUE FALSE FALSE  TRUE

       a     beta    logic
5.500000 4.535125 0.500000

$a
 [1]  1  2  3  4  5  6  7  8  9 10

$beta
[1]  0.04978707  0.13533528  0.36787944  1.00000000  2.71828183  7.38905610
[7] 20.08553692

$logic
[1]  TRUE FALSE FALSE  TRUE

$letters
 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j"

                  a1                   a2                   a3
                 "1"                  "2"                  "3"
                  a4                   a5                   a6
                 "4"                  "5"                  "6"
                  a7                   a8                   a9
                 "7"                  "8"                  "9"
                 a10                beta1                beta2
                "10" "0.0497870683678639"  "0.135335283236613"
               beta3                beta4                beta5
 "0.367879441171442"                  "1"   "2.71828182845905"
               beta6                beta7               logic1
  "7.38905609893065"   "20.0855369231877"               "TRUE"
              logic2               logic3               logic4
             "FALSE"              "FALSE"               "TRUE"
            letters1             letters2             letters3
                 "a"                  "b"                  "c"
            letters4             letters5             letters6
                 "d"                  "e"                  "f"
            letters7             letters8             letters9
                 "g"                  "h"                  "i"
           letters10
                 "j"

[1] "character"

[1] "character"

   a  beta        logic letters
1   1  0.04978707  TRUE a
2   2  0.13533528 FALSE b
3   3  0.36787944 FALSE c
4   4  1.00000000  TRUE d
5   5  2.71828183  TRUE e
6   6  7.38905610 FALSE f
7   7 20.08553692 FALSE g
8   8  0.04978707  TRUE h
9   9  0.13533528  TRUE i
10 10  0.36787944 FALSE j



---

**Задание 3.**

Создайте таблицу данных из двух столбцов – год рождения и год поступления для студентов вашей группы. Задайте имена столбцов («год рождения», «год поступления») и строк (фамилии). Фамилии в таблице должны быть расположены в лексикографическом порядке.

Добавьте два новых столбца к таблице данных – «задолженность» и «курс», на котором имеется задолженность. Если задолженности нет, то номер курса = NA.
Заполните таблицу данных, руководствуясь достоверными сведениями от ваших одногруппников.

Какова размерность полученной таблицы?

Осуществите поиск по таблице данных (с помощью функции grep()) и определите номер(-а) самого молодого(-ых) и самого старого(-ых) студентов в группе.

Выведите на экран фамилию(-ии) самого(-ых) старого(-ых) студента(-ов) в группе.

Выведите на экран фамилию(-ии) самого(-ых) молодого(-ых) студента(-ов) в группе.

Запишите таблицу данных в файлы table1 и table2 с помощью различных функций записи (write.table и write.csv) и прочтите полученные файлы с помощью соответствующих функций чтения.

Запишите таблицу данных в файл Excel (book.xls), а затем и прочтите его. (Для этого нужно установить один из специализированных пакетов для работы с Excel файлами - `xlsx` или `openxlsx`).

Добавьте к книге Excel book.xls еще один лист, в котором будут храниться только фамилии студентов группы (в алфавитном порядке).

In [ ]:
students <- data.frame(
  "Фамилия" = c("Ванчинга", "Дзахмишев", "Дурдалыев", "Ендонова", "Куляпин", "Лихтенштейн", "Мугари", "Нве Манге", "Олейник", "Рябцев", "Сильвен", "Сингх", "Туем", "Шилоносов", "Шияпова", "Шошина", "Шубнякова", "Шуплецов", "Грузинова", "Эспиноса", "Адабор"),
  "Год рождения" = c(2003, 2004, 2002, 2004, 2005, 2004, 2000, 2000, 2004, 2003, 2003, 2003, 1997, 2004, 2004, 2003, 2004, 2002, 2004, 2003, 2003),
  "Год поступления" = c(rep(2022, 21))
)

colnames(students) <- c("Фамилия", "Год рождения", "Год поступления")

students <- students[order(students$Фамилия),]
students

students$Задолженность <- c("нет", "Математический анализ", "нет", "нет", "нет", "нет", "Математический анализ", "нет", "нет", "нет", "нет", "нет", "Математический анализ", "Математическая логика", "нет", "нет", "нет", "нет", "нет", "нет", "нет")

students$Курс <- ifelse(students$Задолженность == "нет", 2, NA)

dim(students)

youngest <- which.max(students$"Год рождения")
oldest <- which.min(students$"Год рождения")

cat("Самый молодой студент:", students$Фамилия[youngest], "\n")
cat("Самый старый студент:", students$Фамилия[oldest], "\n")


install.packages("openxlsx", dependencies=TRUE)

library(openxlsx)

write.table(students, "table1.txt", sep = " ")

write.csv(students, "table2.csv")

read_table1 <- read.table("table1.txt", header = TRUE)
read_table2 <- read.csv("table2.csv")
library(openxlsx)

write.xlsx(students, "book.xlsx", sheetName = "Студенты")

read_excel <- read.xlsx("book.xlsx", sheet = "Студенты")

student_names <- data.frame("Фамилия" = sort(students$Фамилия))
write.xlsx(list(Студенты = students, Фамилии = student_names), "book.xlsx")

   Фамилия     Год рождения Год поступления
21 Адабор      2003         2022
1  Ванчинга    2003         2022
19 Грузинова   2004         2022
2  Дзахмишев   2004         2022
3  Дурдалыев   2002         2022
4  Ендонова    2004         2022
5  Куляпин     2005         2022
6  Лихтенштейн 2004         2022
7  Мугари      2000         2022
8  Нве Манге   2000         2022
9  Олейник     2004         2022
10 Рябцев      2003         2022
11 Сильвен     2003         2022
12 Сингх       2003         2022
13 Туем        1997         2022
14 Шилоносов   2004         2022
15 Шияпова     2004         2022
16 Шошина      2003         2022
17 Шубнякова   2004         2022
18 Шуплецов    2002         2022
20 Эспиноса    2003         2022

[1] 21  5

Самый молодой студент: Куляпин
Самый старый студент: Туем

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)



---

**Задание 4.**

Имеется файл с данными (data8.csv), где записаны результаты измерений погодных условий и даты измерений в столбцах с именами: ${\tt Ozone, Solar.R, Wind, Temp, Month, Day}$.
* Создайте таблицу данных ${\tt w\_data}$, прочитав данные из этого файла. Сколько всего наблюдений (по дням) содержится в таблице данных?
* Извлеките первые 2 строки из таблицы данных и выведите их на экран.
* Извлеките последние 2 строки данных выведите их на экран.
* Какое значение у параметра ${\tt Ozone}$ в 47 строке?
* Сколько пропущенных значений (NA) в столбце ${\tt Ozone}$ в таблице данных?
* Найдите среднее значение параметра ${\tt Ozone}$, исключив из рассмотрения пропущенные значения.
* Извлеките из таблицы данных ${\tt w\_data}$ подмножество строк, таких что значения ${\tt Ozone}$ больше 31, а значения ${\tt Temp}$ больше 90. Каково среднее значение параметра ${\tt Solar.R}$ в этой новой выборке?
* Каково среднее значение ${\tt Temp}$, когда ${\tt Month}$ равен 6?
* Каково максимальное значение ${\tt Ozone}$ в мае месяце?

In [ ]:
w_data <- read.csv("data8.csv")
num_observations <- nrow(w_data)
cat("Всего наблюдений (по дням):", num_observations, "\n")
head(w_data, 2)

tail(w_data, 2)

ozone_47 <- w_data$Ozone[47]
cat("Значение параметра Ozone в 47 строке:", ozone_47, "\n")

na_count <- sum(is.na(w_data$Ozone))
cat("Пропущенных значений в столбце Ozone:", na_count, "\n")

mean_ozone <- mean(w_data$Ozone, na.rm = T)
cat("Среднее значение параметра Ozone (без NA):", mean_ozone, "\n")

subset_data <- w_data[w_data$Ozone > 31 & w_data$Temp > 90, ]
mean_solar_r <- mean(subset_data$Solar.R, na.rm = T)
cat("Среднее значение параметра Solar.R в выборке:", mean_solar_r, "\n")

mean_temp_month_6 <- mean(w_data$Temp[w_data$Month == 6], na.rm = T)
cat("Среднее значение Temp при Month=6:", mean_temp_month_6, "\n")

max_ozone_may <- max(w_data$Ozone[w_data$Month == 5], na.rm = T)
cat("Максимальное значение Ozone в месяце мае:", max_ozone_may, "\n")

Всего наблюдений (по дням): 153

  Ozone Solar.R Wind Temp Month Day
1 41    190     7.4  67   5     1
2 36    118     8.0  72   5     2

    Ozone Solar.R Wind Temp Month Day
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

Значение параметра Ozone в 47 строке: 21
Пропущенных значений в столбце Ozone: 37
Среднее значение параметра Ozone (без NA): 42.12931
Среднее значение параметра Solar.R в выборке: 212.8
Среднее значение Temp при Month=6: 79.1
Максимальное значение Ozone в месяце мае: 115